Repository chezeee/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, stylelint --fix

test husky
  .lintstagedrc.json
  package.json
Due: none

test husky
  src/style.scss
Due: stylelint --fix

test husky
  package.json
Due: none

test hasky
  package.json
Due: none

test hasky
  src/style.scss
Due: stylelint --fix

test hasky
  .lintstagedrc.json
  src/style.scss
Due: stylelint --fix

fixed hasky
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  src/style.scss
Due: stylelint --fix

test hasky
  .husky/pre-commit
Due: none

fixed husky
  .husky/pre-commit
Due: none

fixed husky
  .husky/pre-commit
  package.json
Due: none

fixed husky
  src/style.scss
Due: stylelint --fix

Added tests for Router
  .lintstagedrc.json
  mochaSetup.js
  package.json
  src/services/Router/Route.test.ts
  src/services/Router/Router.test.ts
  tsconfig.json
  vite.config.js
Due: eslint --fix, tsc --noEmit

Fixed package.json, updated README.md
  README.md
  package.json
  src/components/index.ts
  vite.config.js
Due: eslint --fix, tsc --noEmit

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  tsc --noEmit: any of: *.{js,ts,jsx,tsx}
  stylelint --fix: any of: *.scss
